<%- include("partials/header", { title: '404 - Ons Kookboek' }) %>
<%- include("partials/navbar") %>
<div class="not-found-container">
    <img src="/404.webp"/>
</div>

<%- include("partials/footer") %>